<h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">
 
    <label>Username
      <input name="username" required/>
    </label>
 
    <label>Password
      <input name="passwordHash" type="password" required/>
    </label>
 
    <button type="submit">Register</button>
 
   <!-- TODO: error messages for registration -->
    <%#!-- error message will be added here --%>
  </form>